node_modules/
dist/
.cache/
.DS_Store
*.local

# Cypress
cypress/screenshots/
cypress/videos/
cypress/downloads/

# IDE
.idea/
*.swp
*.swo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment
.env
.env.local
.env.*.local
